In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/tanlitung/Datasets/master/kc_house_data.csv')

In [5]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [20]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['price', 'date'])
Y = df['price']

X_train, X_test, y_train, y_test = train_test_split(
                                    X, Y, test_size=0.3 , random_state=5)

In [21]:
X_test, X_train, y_test, y_train

(               id  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
 17485  2621760290         4       2.50         2800      6820     2.0
 15164  2172000894         3       1.00         1250     10200     1.0
 18449  4365200865         3       1.00         1540      7740     1.0
 6828   9822700285         4       1.50         1910      5000     1.5
 18281  3761700067         3       2.50         3320     11875     1.0
 ...           ...       ...        ...          ...       ...     ...
 5694   3578401060         3       2.25         1920      9672     2.0
 1406    869700320         3       2.50         1260      3855     2.0
 19262  1224049095         6       3.25         4440     17424     1.0
 17786  1112000100         5       3.50         3990      5000     2.0
 0      7129300520         3       1.00         1180      5650     1.0

        waterfront  view  condition  grade  sqft_above  sqft_basement  \
 17485           0     0          4      7        2800              0
 15164           0     0          3      6        1250              0
 18449           0     0          4      7        1540              0
 6828            0     0          3      7        1610            300
 18281           0     0          5     10        3320              0
 ...           ...   ...        ...    ...         ...            ...
 5694            0     0          4      8        1920              0
 1406            0     0          3      8        1260              0
 19262           0     1          4      9        2220           2220
 17786           0     0          3      8        2910           1080
 0               0     0          3      7        1180              0

        yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
 17485      1997             0    98042  47.3695 -122.108           2060
 15164      1965             0    98178  47.4902 -122.256           1800
 18449      1909             0    98126  47.5220 -122.375           1220
 6828       1912             0    98105  47.6597 -122.290           2170
 18281      1979             0    98034  47.7212 -122.260           3730
 ...         ...           ...      ...      ...      ...            ...
 5694       1984             0    98074  47.6233 -122.046           1950
 1406       1999             0    98059  47.4908 -122.154           1310
 19262      1959             0    98040  47.5791 -122.230           2660
 17786      2004             0    98118  47.5400 -122.270           1310
 0          1955             0    98178  47.5112 -122.257           1340

        sqft_lot15
 17485        6820
 15164        8283
 18449        7740
 6828         5000
 18281       11875
 ...           ...
 5694        10125
 1406         3344
 19262       10768
 17786        5000
 0            5650

 [6484 rows x 19 columns],
                id  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
 17639  1023089197         3       2.00         1930     12443     1.0
 11482  6819100111         4       2.50         2520      2600     2.0
 14834  7889602020         3       1.00         1280      9000     1.5
 17221  7856560380         4       2.25         2500      8500     2.0
 7112   2489200250         3       2.00         1560      6300     1.0
 ...           ...       ...        ...          ...       ...     ...
 5520   2877101100         3       1.75         2100      5000     1.5
 3046   9206200110         3       1.00         1330     10500     1.0
 20463  2011400401         3       2.50         2730      7136     2.0
 18638  1189000910         2       1.50         1920      3408     1.0
 2915   8965000110         3       1.75         1300      9600     1.0

        waterfront  view  condition  grade  sqft_above  sqft_basement  \
 17639           0     0          3      7        1930              0
 11482           0     0          5      8        1670            850
 14834           0     0          4      6        1280              0
 17221           0     0          4      8        2500              0
 7112            0     0          3      7        1560              0
 ...           ...   ...        ...    ...         ...            ...
 5520            0     0          3      8        2100              0
 3046            0     0          3      7         960            370
 20463           0     0          3      8        2730              0
 18638           0     0          4      7         960            960
 2915            0     0          4      7        1300              0

        yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
 17639      1969             0    98045  47.4906 -121.775           1400
 11482      1925             0    98119  47.6434 -122.358           2290
 14834      1954             0    98146  47.4915 -122.338           1430
 17221      1979             0    98006  47.5569 -122.151           2470
 7112       1924             0    98126  47.5407 -122.379           1620
 ...         ...           ...      ...      ...      ...            ...
 5520       1916             0    98117  47.6776 -122.360           1830
 3046       1963             0    98034  47.7204 -122.196           1460
 20463      2012             0    98198  47.3938 -122.321           2130
 18638      1912             0    98122  47.6118 -122.299           1130
 2915       1969             0    98052  47.6388 -122.103           2070

        sqft_lot15
 17639       12183
 11482        3600
 14834        4500
 17221        9100
 7112         6300
 ...           ...
 5520         4200
 3046        11550
 20463        8932
 18638        3408
 2915         9775

 [15129 rows x 19 columns],
 17485    365000.0
 15164    225000.0
 18449    384950.0
 6828     657500.0
 18281    959000.0
            ...
 5694     345000.0
 1406     300000.0
 19262    959000.0
 17786    740000.0
 0        221900.0
 Name: price, Length: 6484, dtype: float64,
 17639     390000.0
 11482    1130000.0
 14834     240000.0
 17221     760000.0
 7112      528000.0
            ...
 5520      700000.0
 3046      386900.0
 20463     510000.0
 18638     517000.0
 2915      455000.0
 Name: price, Length: 15129, dtype: float64)

In [22]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [23]:
model.fit(X_train, y_train)

LinearRegression()

In [28]:
y_pred = model.predict(X_test)

In [27]:
from sklearn.metrics import mean_squared_error, r2_score

In [31]:
r2_score(y_test, y_pred)

0.709219660103773